---
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

import { getUniqueTags } from '../../scripts/getUniqueTags';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  
  return getUniqueTags(allPosts).map(tag => {
    const filteredPosts = allPosts.filter(post => 
      post.frontmatter.tags.indexOf(tag) > -1
    );
 
    return {
      params: { tag },
      props: { filteredPosts },
    };
  });
};

const { tag } = Astro.params;
const { filteredPosts } = Astro.props;

---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      filteredPosts.map(post => <BlogPost post={post} />)
    }
  </ul>
</BaseLayout>