---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const skills = [
  'cooking', 'programming'
];

// const color = '#bfb9b2';

const styleAttrs = {
  titleColor: '#bfb9b2',
  titleSize: '3rem',
  bodyFont: '"SF Pro", Arial, sans-serif',
};

---

<style define:vars={{ ...styleAttrs }}>
	body {
		font-family: var(--bodyFont);
	}
	h1 {
		color: var(--titleColor);
		font-size: var(--titleSize);
	}

  ul.skills li{
    list-style: none;
  }

</style>


<body>
  <Nav />
  <h1>{pageTitle}</h1>

  <p>My skills are: </p>
  <ul class="skills">
    {skills.map(skill => <li>{skill}</li>)}
  </ul>

  <Footer />
</body>
