---
import Nav from '../components/Nav.astro';

const pageTitle = "About Me";
---

<style>
	body {
		font-family: 'SF Pro',  Arial, sans-serif;
	}
	h1 {
		color: #bfb9b2;
		font-size: 3rem;
	}
</style>


<body>
  <Nav />
  <h1>{pageTitle}</h1>
</body>
