---
import BaseLayout from '../layouts/BaseLayout.astro';
import { aboutVars } from '../scripts/about';
import '../styles/about.css';

const { pageTitle, skills } = aboutVars();
---

<BaseLayout pageTitle={pageTitle}>
  <p>My skills are: </p>
  <div class="skills">
    {
      skills.map(skill =>
        <div>{skill}</div>
      )
    }
  </div>
</BaseLayout>