---
import Nav from '../components/Nav.astro';
import '../styles/global.css';

const pageTitle = 'Home page';

const styleAttrs = {
  titleColor: '#bfb9b2',
  titleSize: '3rem',
  bodyFont: '"SF Pro", Arial, sans-serif',
};
---

<style define:vars={{...styleAttrs}}>
	body {
		font-family: var(--bodyFont);
	}

	h1 {
		color: var(--titleColor);
		font-size: var(--titleSize);
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Movie List</title>
	</head>
	<body>
		<Nav />
		<h1>{pageTitle}</h1>
	</body>
</html>
