---
import Social from "./Social.astro";

const socialMap = [{
  platform: 'Github',
  username: 'sainatj',
}, {
  platform: 'Instagram',
  username: 'sainath_s',
}];
---

<style>
  div.socialDiv{ 
    display: flex;
  }

  div.socialElement {
    margin-right: 0.5rem;
    line-height: 2rem;
  }
</style>

<footer>
  <p>Find me @</p>
  <div class="socialDiv">
    {
      socialMap.map(socialProps => 
        <div class="socialElement">
          <Social {...socialProps} />
        </div>
      )
    }
  </ul>
</footer>