---
import '../styles/global.css';

const pageLinks = [{
  path: '/',
  name: 'Home',
}, {
  path: '/about',
  name: 'About',
}, {
  path: '/blog',
  name: 'Blog',
}];
---

<style>
  ul {
    display: flex;
  }

  li {
    flex: auto;
  }
</style>

<nav>
  <ul>
    {pageLinks.map(link => (
      <li>
        <a href={link.path}>{link.name}</a>
      </li>
      ))
    }
  </ul>
</nav>