---
import '../styles/global.css';

const pageLinks = [{
  path: '/',
  name: 'Home',
}, {
  path: '/about',
  name: 'About',
}, {
  path: '/blog',
  name: 'Blog',
}, {
  path: '/tags',
  name: 'Tags',
}];
---

<div class="nav-links">
  {pageLinks.map(link =>
    <a href={link.path}>{link.name}</a>
  )}
</div>