---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>Description: {frontmatter.description}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.split('T')[0]}</p>
  <p>Tags: {
    frontmatter.tags.map((tag, index) => (
      <span>{ tag }</span>
      <span>{
        index !== frontmatter.tags.length-1 && ', '
      }</span>
    ))
  }</p>
  <slot />
</BaseLayout>