---
import TagList from '../components/TagList.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>Description: {frontmatter.description}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.split('T')[0]}</p>
  <TagList tags={frontmatter.tags} />
  <slot />
</BaseLayout>